<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>

    <h1>Customers</h1>
    <hr>
    {%for customer in customers%}
    <p>
       <a href="{%url 'customer' customer.id%}">{{customer.first_name}} , {{customer.last_name}}</a>  {{customer.email}}, {{customer.phone_number}} 

    </p>
    {%endfor%}
    
</body>
</html>