@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
body{
 
background-image: url(monde1.jpg);
background-repeat: no-repeat;
background-size: contain;
width: 1000px;
height: 1000px;

}
h1 {
 text-align: center;
 font-family: 'Viga', sans-serif;
 padding-left: 300px;
 padding-right:100px;
 font-size: 40px;
}

.chiffre  {

    display: flex;
    flex-direction: row;
    gap: 150px;
    font-family: 'Viga', sans-serif;
    font-size: 40px;
    padding-left: 250px;
    margin: 2px;
    color: purple;
}



#text  {

    display: flex;
    flex-direction: row;
    gap: 150px;
    font-family: 'Viga', sans-serif;
    font-size: 9px;
    padding-left: 30px;
    padding-bottom: 100px;
    color: black;

}


.cube  {
    border: darkblue;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 40px;
   margin-left: 60px;
}

.cube div  {
  background-color: white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Aleo', serif;
  opacity: calc(O,40);
  color: grey;
}


.text2  {
    margin-top: 150px;
}


.inter {

    display: flex;
    flex-direction: column;
    
}

.tina {

  background-color: lightcoral !important;
  text-align: center !important;
  font-size: 10px !important;
  color: white !important;  
}


#rigole{

 width: 70px;
 border-radius: 42%;
}