body {
    background-color: rgba(255, 26, 26, 0.841);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#main{
    width: 624px;
    height: 312px;
    border: 1px solid white;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#main img{
    width: 155px;
    height: 77px;
    border: 0.5px solid rebeccapurple;
}
#main div{
    width: 155px;
    height: 77px;
    border: 0.5px solid rebeccapurple;
}
#sup img{
    width: 624px;
    height: 321px;
    /* margin-top: 20px; */
}

#secondpart{
    width: 936px;
    height: 234px;
    border: 1px solid wheat;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
#secondpart img{
    width: 155px;
    height: 77px;
    border: 0.5px solid rebeccapurple;
}